.banner {
  background-color: #000000;
  color: white;
  padding: 10px;
  border-bottom: solid 10px #ffb91d;
}
header h1 {
  margin: 0;
  padding-left: 20px;
  display: inline-block;
}
.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.btn-outline-primary {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
}


.accordion-button {
  background-color: #f8f9fa;
  color: #343a40;
}

.accordion-button:not(.collapsed) {
  background-color: #ffb91d;
  color: #fff;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Appliquer une couleur de fond spéciale pour les champs readonly */
input[readonly] {
  background-color: #e0e0e0 !important; /* Couleur de fond gris clair */
  color: #000; /* Couleur du texte */
}

/* Classe pour couleur de tolérance dans la plage acceptable */
.bg-tolerance-ok {
  background-color: #28a745 !important; /* Vert */
  color: white;
}

/* Classe pour couleur de tolérance en dehors de la plage acceptable */
.bg-tolerance-wrong {
  background-color: #dc3545 !important; /* Rouge */
  color: white;
}

/* Classe pour couleur de tolérance quand aucune valeur n'est entrée */
.bg-tolerance-default {
  background-color: #F8F9FA !important; /* Gris */
  color: #212529 !important;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 90vh; /* Hauteur du graphique */
  width: 90vw;  /* Largeur du graphique */
}

.chart-container2 {
  position: relative;
  margin: auto;
  height: 50vh; /* Hauteur du graphique */
}

.custom-navbar {
  border-bottom : 10px  solid #ffb91d;
}